{% load static %}
<html>
  <head>
    <title>Adventure.TXT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title"              content="Adventure.TXT" />
    {% block og_description %}<meta property="og:description"        content="Welcome to Adventure.TXT, a collaborative multiplayer text adventure. The game and story are created by the users, and always evolving. Your score increases as other players interact with parts of the world you create. Keep an eye out on the lobby for news about new features." />{% endblock %}
  </head>
  <body>
    <div id="container" class="container">
      <h1><a href="{% url 'explore:index' %}">Adventure.TXT</a></h1>
      {% block dashboard %}
      {% endblock %}
      {% block content %}
      {% endblock %}
      <div id="footer">
      {% block footer %}
        <p>
          <a href="/guide">Adventure.TXT Player's Guide</a>.<br/>
          Written as an example for <a href="https://dj4e.com/">SI 664</a>.<br/>
          Inspired by classic MUDs like <a href="https://en.wikipedia.org/wiki/LambdaMOO">LambdaMOO</a>.<br/>
          <a href="https://github.com/elplatt/Adventure664">Code</a> Copyright (C) Edward L. Platt 2020&#8212;2021, distributed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPL 3.0</a>.<br/>
          Questions or Comments? &lt;ed@elplatt.com&gt;
        </p>
      {% endblock %}
      </div>
    </div>
  </body>
</html>
