{% load static %}
<html>
  <head>
    <title>Adventure.TXT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title"              content="Adventure.TXT" />
    {% block og_description %}<meta property="og:description"        content="Welcome to Adventure.TXT, a collaborative multiplayer text adventure. The game and story are created by the users, and always evolving. Your score increases as other players interact with parts of the world you create. Keep an eye out on the lobby for news about new features." />{% endblock %}
  </head>
  <body>
    <div id="container">
      <h1><a href="{% url 'explore:index' %}">Adventure.TXT</a></h1>
      {% block dashboard %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
