{% extends 'base.html' %}

{% block dashboard %}
<div id="dashboard">
  {% if user.is_authenticated %}
  User: {{ user.username}} - Score: {{ user.score.total|stringformat:"09d" }}
  {% else %}
  <a href="{% url 'login' %}?next={{ request.path }}">login</a>
  or
  <a href="{% url 'register' %}?next={{ request.path }}">register</a>  
  {% endif %}
</div>
{% endblock %}

{% block content %}
  <div id="info" class="section">
    {% if area %}
      Edit Area: {{ area.title }}
    {% else %}
      Create Area
    {% endif %}
  </div>
  <div id="description" class="section form">
    <form method="post">
      {% csrf_token %}
      {{ area_form.as_p }}
      <input type="hidden" name="next" value="{{ request.GET.next }}"/>
      <input type="submit" value="Update"/>
      <button onclick="window.history.back();">Cancel</button>
    </form>
  </div>
{% endblock %}

