{% extends 'base.html' %}

{% block dashboard %}
<div id="dashboard">
  User: {{ user.username }} - Score: {{ user.score.total|stringformat:"09d" }}
</div>
{% endblock %}

{% block content %}
  <div id="info" class="section">
    {{ area_from.title}} : {{ title }}
  </div>
  <div id="destination" class="section">
    <form method="post">
      {% csrf_token %}
      {{ connection_form }}
      <input type="submit" value="Create"/>
      <button onclick="window.history.back();">Cancel</button>
    </form>
  </div>
{% endblock %}

