{% extends 'base.html' %}

{% block dashboard %}
<div id="dashboard">
  {% if user.is_authenticated %}
  User: {{ user.username}} - Score: {{ user.score.total|stringformat:"09d" }}
  {% else %}
  <a href="{% url 'login' %}?next={{ request.path }}">login</a>
  or
  <a href="{% url 'register' %}?next={{ request.path }}">register</a>  
  {% endif %}
</div>
{% endblock %}

{% block content %}
  <div id="info" class="section">
    Delete {{ type }}: {{ title }}
  </div>
  <div id="confirm" class="section">
    <p>Are you sure?</p>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="hidden" name="next" value="{{ request.GET.next }}"/>
      <input type="submit" value="Delete"/>
      <button onclick="window.history.back();return false;">Cancel</button>
    </form>
  </div>
{% endblock %}

