{% extends 'base.html' %}

{% block dashboard %}
<div id="dashboard">
  Score: {{ user.score.total|stringformat:"09d" }}
</div>
{% endblock %}

{% block content %}
  <div class="section">
    Lobby
  </div>
  <div id="select-area" class="section">
    <p>Where would you like to go?</p>
    <p>Type anything here, or select from the list below.</p>
    <form method="post">
      {% csrf_token %}
      {{ select_area_form }}
    </form>
  </div>
  <div id="previous-areas" class="section">
    <p>Recently Created</p>
    {% if areas %}
      <ul>
      {% for a in areas %}
        <li><a href="{% url 'explore:area' a.id %}">{{ a.title }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No areas have been published yet.</p>
    {% endif %}
  </div>
{% endblock %}

