{% extends 'base.html' %}

{% block dashboard %}
<div id="dashboard">
  {% if user.is_authenticated %}
  User: {{ user.username}} - Score: {{ user.score.total|stringformat:"09d" }}
  {% endif %}
</div>
{% endblock %}

{% block content %}
  <div class="row">
    <div id="about">
      Welcome to Adventure.TXT, a collaborative multiplayer text adventure.
      The game and story are created by the users, and always evolving.
      Your score increases as other players interact with parts of the world you create.
      Keep an eye out on the lobby for news about new features.
    </div>
    <div id="top-players">
      <h2>Top Players</h2>
      <table>
        <thead>
          <th>Players</th>
          <th>Score</th>
        </thead>
        <tbody>
        {% for u in top_users %}
          <tr><td>{{ u.username }}</td><td>{{ u.score.total|stringformat:"09d" }}</tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="section">
    Lobby
  </div>
  {% if news %}
  <div id="news" class="section">{{ news }}</div>
  {% endif %}
  <div id="select-area" class="section">
    <p>
      Where would you like to go?
      Enter any existing or new area name, or select from the list below.
    </p>
    <form method="post">
      {% csrf_token %}
      {{ select_area_form }}
    </form>
    {% if error %}
    <p>{{ error|safe }}</p>
    {% endif %}
  </div>
  <div id="previous-areas" class="section">
    <p>Recently Created</p>
    {% if areas %}
      <ul>
      {% for a in areas %}
        <li>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="area_title" value="{{ a.title }}"/>
            <input type="submit" value="{{ a.title }}"/>
          </form>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No areas have been published yet.</p>
    {% endif %}
  </div>
{% endblock %}

