{% extends 'base.html' %}

{% block dashboard %}
<div id="dashboard">
  {% if user.is_authenticated %}
  Score: {{ user.score.total|stringformat:"09d" }}
  {% endif %}
</div>
{% endblock %}

{% block content %}
  <div class="section">
    Lobby
  </div>
  <div id="select-area" class="section">
    <p>Where would you like to go?</p>
    <p>Type anything here, or select from the list below.</p>
    <form method="post">
      {% csrf_token %}
      {{ select_area_form }}
    </form>
    {% if error %}
    <p>{{ error|safe }}</p>
    {% endif %}
  </div>
  <div id="previous-areas" class="section">
    <p>Recently Created</p>
    {% if areas %}
      <ul>
      {% for a in areas %}
        <li><a href="{% url 'explore:area' a.id %}">{{ a.title }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No areas have been published yet.</p>
    {% endif %}
  </div>
  <div id="bottom">
    <h2>Top Users</h2>
    <table>
      <thead>
        <th>User</th>
        <th>Score</th>
      </thead>
      <tbody>
      {% for u in top_users %}
        <tr><td>{{ u.username }}</td><td>{{ u.score.total|stringformat:"09d" }}</tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

