{% extends 'base.html' %}

{% block dashboard %}
<div id="dashboard">
  {% if user.is_authenticated %}
  Score: {{ user.score.total|stringformat:"09d" }}
  {% endif %}
</div>
{% endblock %}

{% block content %}
  <div id="info" class="section">
    <p>{{ area.title }}</p>
    {% if area.description %}
      <div id="area-description">{{ area.description }}</div>
    {% endif %}
  </div>
  {% if area.outgoing.count > 0 %}
  <div class="section">
    <p id="area-exits">
      Connections:
      {% for c in area.outgoing.all %}
        {{ c.title }}
      {% endfor %}
    </p>
  </div>
  {% endif %}
  {% if activities.count > 0 %}
    <div id="activity" class="section">
    {% for activity in activities %}
      <div class="activity">{{ activity.activity_text }}</div>
    {% endfor %}
    </div>
  {% endif %}
  <div id="actions" class="section">
    {%if user.is_authenticated %}
      <form method="post">
        {% csrf_token %}
        {{ command_form }}
      </form>
    {% else %}
      <p>
        You must <a href="{% url 'login' %}?next={{ request.path }}">login</a>
        or <a href="{% url 'register' %}?next={{ request.path }}">create an account</a> to explore further.</p>
    {% endif %}
  </div>
  <h2>How to Play</h2>
  <div id="tutorial">
    <p>
      This game is built by the players.
      Your score increases every time another player interacts with
      a part of the world you created.
    </p>
    <p>
      Some examples:<br/>
      &gt; edit description<br/>
      &gt; create connection north<br/>
      &gt; north<br/>
      &gt; Hello, World!
    </p>
  </div>
{% endblock %}

