{% extends 'base.html' %}

{% load player_extras %}

{% block og_description %}<meta property="og:description" content="{{ area.title }} - {{ area.description }}" />{% endblock %}


{% block dashboard %}
<div id="dashboard">
  {% if user.is_authenticated %}
  User: {{ user.username }} - Score: {{ user.score.total|stringformat:"09d" }}
  {% endif %}
</div>
{% endblock %}

{% block content %}
  <div id="info" class="section">
    <p>{{ area.title }}</p>
    {% if area.description %}
      <div id="area-description">{{ area.description }}</div>
    {% endif %}
    {% if items %}
       <ul id="area-items">
       {% for item in items %}
           <li>{{ item.short_description }}</li>
       {% endfor %}
       </ul>
    {% endif %}
    {% if players %}
       <ul id="area-players">
       {% for player in players.all %}
           <li><strong>{{ player.user.username }}</strong> {% player_status player %}</li>
       {% endfor %}
       </ul>
    {% endif %}
  </div>
  {% if area.outgoing.count > 0 %}
  <div class="section">
    <p id="area-exits">
      Connections:
      {% for c in area.outgoing.all %}
        {{ c.title }}{% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>
  </div>
  {% endif %}
  {% if messages %}
  <ul id="messages" class="section">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if activities.count > 0 %}
    <div id="activity" class="section">
    {% for activity in activities %}
      <div class="activity">
        {{ activity.activity_text }}
        {% if activity.creator.id == request.user.id and not activity.creator_only %}
        <a href="{% url 'explore:delete_activity' area.id activity.id %}">[x]</a>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  {% endif %}
  <div id="actions" class="section">
    <form method="post">
      {% csrf_token %}
      {{ command_form }}
    </form>
  </div>
  <div id="tutorial">
    <h2>How to Play</h2>
    <p>
      This game is built by the players.
      Your score increases every time another player interacts with
      a part of the world you created.
    </p>
    <p>
      Some examples:<br/>
      &gt; edit area<br/>
      &gt; create connection north<br/>
      &gt; north<br/>
      &gt; Hello, World!
    </p>
  </div>
{% endblock %}

