{% extends 'base.html' %}

{% block content %}
  
  <div class="section">Login</div>

  {% if form.errors %}
    <div class="section">
      <p>Your username and password didn't match. Please try again.</p>
    </div>
  {% endif %}

  {% if next %}
    <div class="section">
    {% if user.is_authenticated %}
      <p>
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
      </p>
    {% else %}
      <p>Please login to see this page or <a href="{% url 'register' %}">create an account</a>.</p>
    {% endif %}
    </div>
  {% endif %}

  <div id="login-user" class="section form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}"/>
      <input type="submit" value="login"/>
    </form> 
  </div>
{% endblock %}
