h1 {
  font-family: 'courier new';
  font-size: 1em;
  font-weight: bold;
  margin: auto;
  width: 82ch;
  padding: 1em 1ch;
  margin: 0 auto;
}
h1 a {
  color: inherit;
  text-decoration: inherit;
}
.section {
  border: solid 1px gray;
  width: 82ch;
  font-family: 'courier new';
  padding: 1em 1ch;
  margin: 0 auto -1px auto;
}
.activity {
  margin-bottom: 1em;
}
.activity:last-child {
  margin-bottom: 0;
}
#actions {
}
.section form {
  margin: 0;
}
.section label {
  display: inline-block;
  font-family: 'courier new';
  font-weight: normal;
  white-space: nowrap;
  margin-right: 1ch;
}
.section input[type=text] {
  font-family: 'courier new';
  display: inline-block;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
}
.section textarea {
  display: block;
  width: 80ch;
  margin: 1em 0 0 0;
  border: 0;
  outline: 0;
  padding: 0;
  font-family: 'courier new';
  font-size: 1em;
}
input[type=submit] {
  display: inline-block;
  margin: 1em 0 0 0;
  padding: 0 1ch;
  border: double 3px black;
  outline: 0;
  font-family: 'courier new';
  font-size: 1em;
}
input[type=submit]:hover {
  color: white;
  background: black;
}
#id_command_text {
  width: 78ch;
}
#info p:first-child {
  margin-top: 0;
}
#info p:last-child {
  margin-bottom: 0;
}
#area-description {
  white-space: pre-wrap;
}
#id_destination_title {
  width: 61ch;
}
