.section {
  border: solid 1px gray;
  width: 82ch;
  font-family: 'courier new';
  padding: 1em 1ch;
  margin-bottom: -1px;
}
#activity {
}
#actions {
}
#actions form {
  margin: 0;
}
#actions label {
  display: inline-block;
  font-family: 'courier new';
  font-weight: normal;
  white-space: nowrap;
  margin-right: 1ch;
}
#id_command_text {
  font-family: 'courier new';
  display: inline-block;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
  width: 78ch;
}
