body {
  font-family: 'courier new';
}
#container {
  width: 82ch;
  margin: 0 auto;
  position: relative;
}
#container div {
  padding: 0 1ch 1em 1ch;
}
#container div.row {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}
#container div.section {
  border: solid 1px gray;
  font-family: 'courier new';
  padding: 1em 1ch;
  margin: 0 auto -1px auto;
}
h1 {
  padding: 1em 1ch 1em 1ch;
}
h2 {
  padding: 1em 0;
}
h1, h2 {
  font-family: 'courier new';
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto;
}
h1 a {
  color: inherit;
  text-decoration: inherit;
}
#dashboard {
  position: absolute;
  top: 1em;
  right: 1ch;
}
#container #tutorial {
  padding: 1em 1ch;
  margin: 0 auto;
}
#tutorial h2 {
  padding-bottom: 0;
}
#activity {
  max-height: 24em;
}
.activity {
  margin-bottom: 1em;
}
.activity:last-child {
  margin-bottom: 0;
}
#actions {
}
.section form {
  margin: 0;
}
.section label {
  display: inline-block;
  font-family: 'courier new';
  font-weight: normal;
  white-space: nowrap;
  margin-right: 1ch;
}
.section input[type=password],
.section input[type=text] {
  font-family: 'courier new';
  display: inline-block;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
}
.section textarea {
  display: block;
  width: 80ch;
  margin: 1em 0 0 0;
  border: 0;
  outline: 0;
  padding: 0;
  font-family: 'courier new';
  font-size: 1em;
}
button,
input[type=submit] {
  display: inline-block;
  margin: 1em 0 0 0;
  padding: 0 1ch;
  border: double 3px black;
  outline: 0;
  font-family: 'courier new';
  font-size: 1em;
}
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  color: white;
  background: black;
}
#id_command_text {
  width: 78ch;
  margin-right: -1ch;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
#area-description {
  white-space: pre-wrap;
}
#id_destination_title {
  width: 61ch;
  margin-right: -1ch;
}
.form label {
  display: inline;
  margin: 0;
  font-weight: bold;
}
.form label::after {
  display: inline;
  content: '\A>';
  white-space: pre-wrap;
}
#create-user ul {
  margin-top: 0;
}
.form input[type=text],
.form input[type=password] {
  display: inline;
}
.helptext {
  display: inline-block;
  width: 80ch;
}
#previous-areas ul {
  margin: 0;
  padding: 0;
}
#previous-areas li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
#about {
  width: 43ch;
  float: left;
}
#top-players {
  width: 33ch;
  float: left;
}
#top-players h2 {
  padding-top: 0;
}
#top-players th {
  text-align: left;
}
#top-players table {
  margin: 0 auto;
  border-spacing: 1em 0;
}
#top-players h2 {
  text-align: center;
}
#previous-areas input[type=submit] {
  display: inline;
  margin: 0;
  border: none;
  padding: 0;
  color: black;
  background: white;
  cursor: hand;
}
#news {
  white-space: pre-wrap;
}
#messages li {
  display: block;
  margin: 0;
  padding: 0;
}
