h1 {
  font-family: 'courier new';
  font-size: 1em;
  font-weight: bold;
  margin: auto;
  width: 82ch;
  padding: 1em 1ch;
  margin: 0 auto;
}
h1 a {
  color: inherit;
  text-decoration: inherit;
}
.section {
  border: solid 1px gray;
  width: 82ch;
  font-family: 'courier new';
  padding: 1em 1ch;
  margin: 0 auto -1px auto;
}
#activity {
}
#actions {
}
.section form {
  margin: 0;
}
.section label {
  display: inline-block;
  font-family: 'courier new';
  font-weight: normal;
  white-space: nowrap;
  margin-right: 1ch;
}
.section input[type=text] {
  font-family: 'courier new';
  display: inline-block;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1em;
}
#id_command_text {
  width: 78ch;
}
